*{
	margin: 0;
	padding: 0;
}
ol,ul {
	list-style: none;
}
blockquote, q{
	quotes: none;
}
/*stayle*/
body{
	color: #fff;
	background-image:url(a.jpg);
	background-size: cover:20;
}
.container {
	background: #c0c0c0;
	text-align: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid #fff;
	border-radius: 20px;
	transition: 0.6px;
	background-color: #fff;
	font-weight: bold;
	color: #fe8cff;
}

h1 {
	font-size: 60px;
	font-family: 'Kaushan Sricpt',cursive;
}
h2{
	font-size: 20px;
	font-family: 'Kaushan Sricpt',cursive;

}